html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

.list-div {
    background-image: url("../images/row.png");
    background-repeat: repeat;
    top: 20%;
    min-height: 80%;
    width: 100%;
    position: absolute;
}
