.task {
    width: 100%;
    display: flex;
    align-items: center;
}

.task .check-box-wrapper {
    margin-left: 1.8cm;
    height: 0.3cm;
    width: 0.3cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
}

.task .checked-box {
    border: 1px solid red;
    background-color: red;
}

.task .check-box {
    height: 0.6cm;
    width: 0.6cm;
    opacity: 0;
}

.task .text {
    font-family: Bradley Hand, cursive, sans-serif;
    font-size: 5mm;
    margin: 5px;
}

.task .checked-text {
    color: red;
}

.task .delete-btn {
    position: relative;
    background: transparent;
    border: transparent;
}

.task .delete-btn .bin {
    height: 0.7cm;
    width: 0.7cm;
}
