.list {
    list-style-type: none;
    position: relative;
    top: 0;
    margin-left: 5.5cm;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-item {
    position: relative;
    margin-left: 4cm;
    height: 52px;
    display: flex;
}
